.content-container {
  max-width: 640px;
  margin: 0 auto;
  font-size: 20px;
  overflow-x: hidden;
}

.content-container > h1 {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .content-container {
    padding: 0 12.5px 0 12.5px;
  }
}
